<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/index.css">
    <title>Weatherify</title>
</head>
<body>
    <nav>
        <div class="nav-brand">
            <h1>Weatherify</h1>
        </div>
        
       
            <ul>
                <a class="nav-link" href="/"><li> Home </li></a>
                <a class="nav-link" href="/about"><li> About </li></a>
            </ul>
        
        
    </nav>

    <div id='about-page'>
        <div id="about-content">
            <h1>About</h1>
            <p>weatherify is a Weather report Web app. It will get all the corresponding data from a weather API called Openweather API and render it server-side using node js and express. js framework. 
            Frontend - HTML, CSS and Javascript, and Backend powered by Node.js and Express.Js. </p>
        </div>
        <div id="about-image">
            <img id="about-gif" src="https://media.giphy.com/media/dsjDXRhlxiHba/giphy.gif" alt="weather-Gif">
        </div>
    </div>
    
   
    
</body>
</html>